<!-- CARD TEMPLATE COR -->
<div class="col-12" style="max-width: 900px;padding-right: 20px;padding-left: 20px" id="cardTemplateCorTemplate">
    <!-- CARD PRINCIPAL ------------------------------------------------------->
    <div class="card mb-0" id="cardTemplateCorTemplateCard">
        <div class="divLoadBlock" id="cardTemplateCorTemplateCardBlock"></div>
        <!-- HEADER -->
        <div class="card-body bg-light" style="padding: 15px; padding-top: 8px;padding-bottom: 7px;margin-bottom: 1px">
            <div class="row">
                <div class="col-12">
                    <p class="text-info mb-0" style="font-size: 15px"><i class="mdi mdi-home-map-marker"></i> Cor da Interfase</p>
                </div>
            </div>
        </div>
        <div class="card-body bg-light" style="padding: 17px;padding-top: 8px; padding-bottom: 8px;height: 50px;margin-top: 1px">
            <div class="row">
                <div class="col" style="padding-right: 5px;max-width: 35px">
                    <i class="mdi mdi-hexagon-multiple text-info" style="font-size: 22px"></i>
                </div>
                <div class="col text-truncate" style="padding-top: 8px">
                    <p class="text-info mb-0 font-12 text-truncate">Informações registradas durante o cadastro</p>
                </div>
            </div>
        </div>
        <div class="card-body scroll" style="position: relative;height: 322px;padding-top: 15px;padding-bottom: 0px">

        </div>
        <!-- FLOOTER -->
        <div class="card-footer bg-light" style="padding-top: 15px;padding-bottom: 15px">
            <div class="row">
                <div class="col" style="max-width: 80px">
                    <button type="button" class="btn btn-dark font-11" style="width: 70px" id="cardTemplateCorTemplateBtnBack"><i class="mdi mdi-arrow-left"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CARD ANIMATION ----------------------------------------------------------->
<div class="col-12 text-center" id="cardTemplateCorTemplateDivAnimation" style="display: none">
    <div class="col-12" id="cardTemplateCorTemplateDivAnimationImage" style="font-size: 150px">
        <i class="mdi mdi mdi-home-map-marker text-info"></i>
    </div>
</div>